body{
    font-size: 16px;
    background-image: url(../images/family\ background.jpg);
}
.mainheader{
    background-color: black;
    padding: 5px;
    color: blanchedalmond;

}
.mainnav{
    background-color: blueviolet;
}
.mainnav ul{
   float: right;
}

.mainnav ul li{
    display: inline-block;
    padding: 10px;
}
.mainnav ul li a{
    color: blanchedalmond;
    text-align: center;
    padding: 10px;

}
.box h1{
    color: orangered;
}
.box{
   background-color:gray;
   width:300px;
   top: 60%;
   left:50%;
   position: absolute;
   transform: translate(-50%,-50%);
   text-align: center;
   border-radius: 20px;
}
.box input{
    padding:10px;
    border: solid 1px greenyellow;
    border-radius: 24px;
    margin: 10px auto;
    outline: none;
    display: block;
    width: 200px;
   

}
.box input[type='email']:focus,.box input[type='password']:focus{
    width: 200px;
    border-color:greenyellow;
}
.box input[type='submit']{
    border: 0;
    color: cornsilk;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type='submit']:hover{
    background: blueviolet;

}
.box input[type='email']:focus,.box input[type='password']:focus{
    width: 200px;
    border-color:blue;
}